<p>
</p>
<div id="jquery_jplayer"></div>

<div id="player_container">
	<ul id="icons" class="ui-widget ui-helper-clearfix">
		<li id="play" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-play"></span></li>
		<li id="pause" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pause"></span></li>
		<li id="stop" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-stop"></span></li>
		<li id="volume-min" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-off"></span></li>
		<li id="volume-slide"><div id="sliderVolume"></div></li>
		<li id="volume-max" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-on"></span></li>    
	</ul>
	<!-- Sliders -->
	<div id="bars_holder">
	  <div id="track-display">
	    <span id="trackname">----</span> <span class="play-info" id="play-info"> </span>
	  	<div id="sliderPlayback"></div>
  		<div id="loaderBar"></div>
	  </div>
	</div>
	<% form_tag tracks_path, :method => 'get' do %>
      <%= text_field_tag :search, @search, :class=>"search", :value=>"Search", :onfocus=>"if
    (this.value==this.defaultValue) this.value='';" %>
    <% end %>
  <div class="clearfix"></div>
</div>
  <table id="tracks_container" class="content alternating tablesorter" summary="Butter Feed Track Listing">
    <thead>
      <th>
      </th>
      <th>
        Title
      </th>
      <th>
        Time
      </th>
      <th>
        Artist
      </th>
      <th>
        Mood
      </th>
      <th>
        Genre
      </th>
      <th> 
      </th>
      <th>
      </th>
    </thead>
    <tbody id="results">
      <%= render :partial => "track", :collection => @tracks %>
    </tbody>
    </table>
    <div id="bottom">
    </div>
    <p>
      <%= will_paginate @tracks, :params => { :search=> @search } %>
      <%= pageless(@tracks.total_pages, admin_tracks_path) %>
    </p>
  </div>
