body {
  background-color: #fff100;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  padding: 20px;
}

a img {
  border: none;
}

a {
  color: #6C7B9E;
  text-decoration: none;
}

a:hover {
  opacity: 0.93;
}

a.go {
  background: url('/images/go.png') no-repeat right;
  font-size: 12px;
  padding-bottom: 1px;
}

a.dl {
  background: url('/images/dl.png') no-repeat left;
  font-size: 12px;
  padding-bottom: 1px;
}

#container {
  width: 75%;
  min-width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}

#logo {
  background: url('/images/logo.png');
  height: 102px;
  width: 434px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.nav {
  color: #5D5D5D;
  margin-top: 40px;
  margin-left: 5px;
}

.search {
  background: url("/images/icons/search.png") no-repeat 14px 5px;
  border: 0;
  color: #2497c2;
  font-size: 14px;
  font-weight: bold;
  height: 14px;
  margin: 0 auto;
  margin-left: 240px;
  margin-top: 14px;
  margin-bottom: 42px;
  padding: 8px 10px 3px 42px;
  width: 168px;
}

.search:focus {
  outline: none;
}

#track-frame {
  background: url("/images/frame.png") no-repeat;
  padding: 20px 120px 100px;
  font-size: 13px;
  height: 520px;
  margin: 0 auto;
  width: 675px;
}

#basic-search {
  display: inline-block;
  width: 675px;
}

table {
  border-collapse: collapse;
  width: 675px;
}
  table caption {
    margin-bottom: 10px; }
  table th {
    cursor: pointer;
    padding: 5px 0; }
  table td {
    padding: 5px; }
    
  table.alternating {

  }
  table.alternating tr:nth-child(even) {
    background: url("/images/white-sixty.png"); }
  table {
    border: none;
    width: 675px; }
    table th {
      color: #000;
      text-align: left;

       }
    table td {
      border: 0;
     }
  table thead {
    background: none;
    padding-top: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

th.download, th.avail {
  font-size: 8px;
}
     
table#tracks_container tr#bottom {
}

table#tracks_container.alternating.tablesorter thead th.header {
	background: url("/images/bg.gif") no-repeat 100% 50%;
}

table#tracks_container.alternating.tablesorter thead th.headerSortUp {
	background: url("/images/asc.gif") no-repeat 100% 50%;
}
table#tracks_container.alternating.tablesorter thead th.headerSortDown {
	background: url("/images/desc.gif") no-repeat 100% 50%;
}

table#tracks_container tr.highlight {

}

thead {
  display: block;
}

table#tracks_container {
  overflow-x: hidden;
}

tbody#results {
  height: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
  display: block;
  width: 674px;
}

tbody#results td.trackPlayBtn, th.playBtn {
  width: 20px;
}

tbody#results td.trackTitle, th.title.admin {
  width: 200px;
}

th.title {
  width: 190px;
}

tbody#results td.trackArtist {
  width: 230px;
}
th.artist {
  width: 185px;
}

th.artist {
  width: 180px;
}

tbody#results td.trackAlbum {
  width: 110px;
}

thead th.mood {
  width: 110px;
}

tbody#results td.trackGenre, th.genre {
  width: 120px;
}

th.genre.admin {
  width: 120px;
}

tbody#results td.trackDl, th.download {
  width: 78px;
}

tbody#results td.trackDl {
  text-align: center;
}

th.edit.admin {
  width: 140px;
}

tbody#results td.trackAvail, th.avail {
  width: 120px;
}

th.avail, th.download {
  padding-top: 8px;
}

tbody#results td.trackAvail {
  text-align: center;
}


#bottom {
  background: url("/images/player-bottom-bg.png");
  height: 25px;
  padding: 5px 5px 5px 10px;
  width: 945px;
}

#bottom input {
  background: url("/images/btn-purple.png");
  border: 1px solid #777;
}

/*jplayer*/

#player_container {
  background: url("/images/bg-controls.png") no-repeat;
  height: 119px;
  margin: 0 auto;
  padding: 28px 60px;
	position:relative;
  width: 555px;
}

#player-left, #player-right {
  float: left;
}

#player-right {
  width: 330px;
}

#playpause {
  margin-left: -25px;
  text-align: center;
}

#playpause #play:hover, #playpause #pause:hover {
  cursor: pointer;
  opacity: 0.95;
}

ul#icons {margin: 5px 30px 0 0; padding: 0; float: left; width: 150px; min-width: 150px;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

ul#icons #volume-min {
	margin:2px 2px 2px 18px;
}

ul#icons #volume-min:hover, ul#icons #volume-max:hover {
  border: none;
  background: none;
  opacity: 0.8;
}

#volume-slide.ui-state-hover {
  border: 0;
  background: none;
}

#volume-slide .ui-slider-range {
  background: #359fc7;
  height: .3em;
}

#sliderVolume {
  background: #359fc7;
  margin-top: 7px;
  height: .3em;
  box-shadow: inset 1px 1px 2px #666;
  -webkit-box-shadow: inset 1px 1px 2px #666;
  -moz-box-shadow: inset 1px 1px 2px #666;
  width: 95px;
}


#sliderVolume .ui-slider-handle {
  background: url("/images/icons/slider-small.png");
  border: 0;
  cursor: pointer;
	height:39px;
	margin-top: -11px;
	width:35px;
}

#track-display {
  color: #3e3f3f;
  float: left;
  font-size: 12px;
  height: 30px;
  padding: 5px 20px;
  margin-top: 17px;
  text-align: center;
  width: 100%;
}

#trackname {
  font-family: "Helvetica", arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  height: 40px;
}

#sliderPlayback {
  background: #359fc7;
  margin-top: 3px;
  height: .3em;
  box-shadow: inset 1px 1px 2px #666;
  -webkit-box-shadow: inset 1px 1px 2px #666;
  -moz-box-shadow: inset 1px 1px 2px #666;
}

#sliderPlayback .ui-slider-range.ui-slider-range-min.ui-widget-header {
  background: #359fc7;
}

#sliderPlayback .ui-slider-handle {
	background: url(/images/icons/slider.png) no-repeat 0 0;
  border: 0;
  cursor: pointer;
  margin: -20px;
  height: 57px;
  width: 49px;
}

#loaderBar.ui-progressbar {
	height:.1em;
	border:0;
	background-color: #60AAC7;
  background-image: none;
  margin-top: 2px;
}

.ui-progressbar-value.ui-widget-header.ui-corner-left.ui-corner-right {
  background: #359fc7;
  border: 0;
}

#tracks_container .trackPlayBtn li {
  cursor: pointer;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background-image: none;
  background-color: #ccc;
  border: 0;
  height: .4em;
}

#box {
  background: #ccc;
  border: 6px solid #111;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px 20px 20px;
  width: 400px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.hidden {
  display: none;
}

