body {
  background-color: #fff100;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  padding: 20px;
}

a img {
  border: none;
}

a {
  color: #6C7B9E;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

a.go {
  background: url('/images/go.png') no-repeat right;
  font-size: 12px;
  padding-right: 22px;
  padding-bottom: 1px;
}

a.dl {
  background: url('/images/dl.png') no-repeat left;
  font-size: 12px;
  padding-left: 19px;
  padding-bottom: 1px;
}

#container {
  width: 75%;
  min-width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
}

#logo {
  background: url('/images/logo.png');
  height: 102px;
  width: 434px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.nav {
  color: #5D5D5D;
  margin-top: 40px;
  margin-left: 5px;
}

.search {
  background: url("/images/search-icon.png") no-repeat 7px 5px #fff;
  border: 1px solid #ccc;
  color: #666;
  float: right;
  font-size: 12px;
  height: 15px;
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px;
  box-shadow: inset 1px 1px 2px #333;
  -webkit-box-shadow: inset 1px 1px 2px #333;
  -moz-box-shadow: inset 1px 1px 2px #333;
  margin-top: 7px;
  padding: 3px 10px 3px 23px;
  width: 12%;
}

.search:focus {
  outline: none;
}

table {
  border-bottom: 1px solid #bbbbbb;
  border-left: 1px solid #bbb;
  border-collapse: collapse;
  width: 960px;
}
  table caption {
    margin-bottom: 10px; }
  table th {
    cursor: pointer;
    padding: 5px; }
  table td {
    border-top: 1px solid #bbbbbb;
    padding: 5px; }
    
  table.alternating {
    background: #fff;
    box-shadow: -2px 0px 2px #D3C600;
    -webkit-box-shadow: -2px 0px 2px #D3C600;
    -moz-box-shadow: -2px 0px 2px #D3C600;
  }
  table.alternating tr:nth-child(even) {
    background: #f1f5fa; }
  table {
    border: none;
    border-left: 1px solid #ddd;
    width: 960px; }
    table th {
      background: #EBEBEB;
      border-top: 1px solid #999;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #999;
      color: #000;
      text-align: left;

       }
    table td {
      border: 0;
      border-right: 1px solid #ddd;
     }
  table thead {
    background: #EBEBEB;
    border-top: 1px solid #999;
  }
     
table#tracks_container tr#bottom {
  background: #ff0000;
}

table#tracks_container.alternating.tablesorter thead th.header {
	background: url("/images/bg.gif") no-repeat 100% 50% #EBEBEB;
}

table#tracks_container.alternating.tablesorter thead th.headerSortUp {
	background: url("/images/asc.gif") no-repeat 100% 50% #becadc;
}
table#tracks_container.alternating.tablesorter thead th.headerSortDown {
	background: url("/images/desc.gif") no-repeat 100% 50% #becadc;
}

table#tracks_container tr.highlight {
  background: #CDF1FA;
}

thead {
  display: block;
}

table#tracks_container {
  overflow-x: hidden;
}

tbody#results {
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  width: 960px;
}

tbody#results td.trackPlayBtn, th.playBtn {
  width: 20px;
}

tbody#results td.trackTitle, th.title.admin {
  width: 206px;
}

th.title {
  width: 199px;
}

tbody#results td.trackTime {
  width: 50px;
}

th.time {
  width: 50px;
}

tbody#results td.trackArtist, th.artist.admin {
  width: 200px;
}

th.artist {
  width: 195px;
}

tbody#results td.trackAlbum, th.mood.admin {
  width: 100px;
}

th.mood {
  width: 96px;
}

tbody#results td.trackGenre, th.genre {
  width: 100px;
}

th.genre.admin {
  width: 120px;
}

tbody#results td.trackDl, th.download {
  width: 78px;
}

th.edit.admin {
  width: 140px;
}

tbody#results td.trackAvail, th.avail {
  width: 120px;
}


#bottom {
  background: url("/images/player-bottom-bg.png");
  border-bottom: 1px solid #D3C600;
  height: 25px;
  padding: 5px 5px 5px 10px;
  box-shadow: -2px 0px 2px #D3C600;
  -webkit-box-shadow: -2px 0px 2px #D3C600;
  -moz-box-shadow: -2px 0px 2px #D3C600;
  width: 945px;
}

#bottom input {
  background: url("/images/btn-purple.png");
  border: 1px solid #777;
}

/*jplayer*/

#player_container {
  background: url("/images/player-top.png");
  border-bottom: 1px solid #bbb;
	position:relative;
	padding: 19px 20px 19px;
	-moz-border-radius-topright: 7px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  box-shadow: -2px -1px 2px #D3C600;
  -webkit-box-shadow: -2px -1px 2px #D3C600;
  -moz-box-shadow: -2px -1px 2px #D3C600;
  width: 920px;
}

ul#icons {margin: 0 10px 0 0; padding: 0; float: left; width: 25%; min-width: 220px;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

ul#icons #volume-min {
	margin:2px 2px 2px 18px;
}

#volume-slide {
  float: left;
}

#volume-slide.ui-state-hover {
  border: 0;
}

#sliderVolume {
  margin-top: 6px;
	width: 80px;
	height:.4em;
}


#sliderVolume .ui-slider-handle {
	height:.8em;
	width:.8em;
}

#track-display {
  background: url("/images/display-bg.png");
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  color: #474D39;
  float: left;
  font-size: 12px;
  height: 30px;
  padding: 5px 20px;
  margin-top: -5px;
  text-align: center;
  width: 50%;
	
	-moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: inset 1px 1px 2px #444;
  -webkit-box-shadow: inset 1px 1px 2px #444;
  -moz-box-shadow: inset 1px 1px 2px #444;
}

#sliderPlayback {
  background: #C8D7A4;
  margin-top: 3px;
  
  box-shadow: inset 1px 1px 2px #666;
  -webkit-box-shadow: inset 1px 1px 2px #666;
  -moz-box-shadow: inset 1px 1px 2px #666;
}

#sliderPlayback .ui-slider-range.ui-slider-range-min.ui-widget-header {
  background: #929E78;
}

#sliderPlayback .ui-slider-handle {
	height:1em;
}

#loaderBar.ui-progressbar {
	height:.2em;
	border:0;
	background-color: #C8D7A4;
  background-image: none;
  margin-top: 2px;
}

.ui-progressbar-value.ui-widget-header.ui-corner-left.ui-corner-right {
  background: #BAC898;
  border: 0;
}

#tracks_container .trackPlayBtn li {
  cursor: pointer;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background-image: none;
  background-color: #ccc;
  border: 0;
  height: .4em;
}

#box {
  background: #ccc;
  border: 6px solid #111;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px 20px 20px;
  width: 400px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.hidden {
  display: none;
}

